*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient( #EBF8FF, #EBF8FF, #B8EEFE, #6DA2FE);\
}

h1 {
    color: #185499;
    font-family: 'Yeseva One', cursive;
}

.heading {
    text-align: left;
    place-content: center;
}

h2 {
    color: #185499;
    font-family: 'Nunito', sans-serif;
}

img {
    width: 500px;
  height: 500px;
   }

.columns {
    float: left;
    width: 50%;
    margin: 0;
    display: grid;
    place-content: center;
    padding: 10px;
    min-width: 300px;
}

.columns 2 {
    float: right;
    height: 200px;
    width: 200px 50%;
    display: grid;
    place-content: center;
    padding: 12px;
    min-width: 300px;
   }

.rows:after {
    content: "";
    display: table;
    clear: both;
}
